:root {
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  color: #172b38;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

.app {
  padding: 50px;
}

.insights-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.insight-list-title {
  margin-bottom: 3vh;
  font-size: 1.8em;
  font-weight: bold;
}

.insight-card {
  border-radius: 5px;
  background: rgb(241, 246, 249);
  color: rgb(23, 43, 56);
  cursor: pointer;
  transition: all 0.25s linear 0s;
  overflow: hidden;
  min-width: 540px;
  min-height: 160px;
  padding: 32px;
}

.insight-card:hover {
  box-shadow: rgb(9 30 66 / 10%) 0px 4px 8px -2px, rgb(9 30 66 / 8%) 0px 0px 0px 1px;
}

.insight-card-title {
  font-weight: bold;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
}

